<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://wsat.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-am2-045.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>wsat</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$wsat</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ConstructionsProgressTrackerContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:wsat.database.windows.net,1433;Initial Catalog=wsat;User ID=wsat@wsat;Password=FPPassword1234;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:wsat.database.windows.net,1433;Database=wsat;User ID=wsat@wsat;Password=FPPassword1234;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Common.ConstructionsProgressTrackerContext, Common" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AzureWebJobsServiceBus" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Endpoint=sb://wsatsb.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=gRBhmeITGkv/PyiPCEXp0Nw0WxyiZi+l2LmTWrUtZy4=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureWebJobsServiceBus_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Endpoint=sb://wsatsb.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=gRBhmeITGkv/PyiPCEXp0Nw0WxyiZi+l2LmTWrUtZy4=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AzureStorage" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=wsat;AccountKey=33BGWXeLucVD/psrJtS90FpIDRya3onzBlAb41iaAE6/J4HNeP+mZMZIlWDqgntVp3DNEZPwxuK7ZGnZz9eiHQ==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureStorage_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=wsat;AccountKey=33BGWXeLucVD/psrJtS90FpIDRya3onzBlAb41iaAE6/J4HNeP+mZMZIlWDqgntVp3DNEZPwxuK7ZGnZz9eiHQ==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureStorage-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureWebJobsServiceBus-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConstructionsProgressTrackerContext-Web.config Connection String">
      <ParameterValue>Server=tcp:wsat.database.windows.net,1433;Database=wsat;User ID=wsat@wsat;Password=FPPassword1234;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>